@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Cores da Página */

    --cor-primaria: #FFFFFF;
    --cor-secundaria: #1F314F;
    --cor-terciaria: #68778D;
    --cor-quaternaria: #D5E1EF;

    /* Fontes da Página */

    --fonte: 'Outfit', sans-serif;
}

body {
    background-color: var(--cor-quaternaria);
    font-family: var(--fonte);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-primaria);
    width: 320px;
    height: 499px;
    margin-top: 124.5px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.conteudo__img {
    width: 288px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.conteudo__texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 288px;
}

.conteudo__titulo {
    text-align: center;
    font-family: var(--fonte);
    font-size: 22px;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.conteudo__paragrafo {
    text-align: center;
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: 400;
    color: var(--cor-terciaria);
    padding: 0 16px;
    margin-bottom: 40px;
}

